* {
	box-sizing: border-box;
}

button {
	border: solid 1px #888;
	background: dodgerblue;
	color: white;
	padding: 5px 10px;
}

stats {
	display: block;
	margin-bottom: 10px;
}

.complete {
	color: #afafaf;
	text-decoration: line-through;
}